---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';


const allWorks = await getCollection("works");
const allWorks_filtered = allWorks.filter((work: any) => work.data.visible==true);
const allWorks_ordered = allWorks_filtered.sort((a,b) => a.data.order - b.data.order);



const title = "Work";
// console.log(allWorks_ordered);

---
<BaseLayout frontmatter={title}>
    <div>
        {allWorks_ordered.map((post) => (
        <p class="post"><a href={`/posts/${post.id}`}>{post.data.title}</a></p>
        )
        )}

    </div>
</BaseLayout>
