/* html{
  background-color: rgb(18, 19, 22);
  font-family: 'Roboto Mono Variable', monospace;
  color: rgb(201, 194, 189);
  font-weight: 300;
} */

/* h1 {
  color: rgb(213, 158, 18);
  font-weight: bold;
} */

/* body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1.2rem;
  line-height: 2;
  font-size: 1.1rem;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply bg-gray-900;
    /* font */
    font-family: 'Roboto Mono Variable', monospace;
    @apply text-gray-400 font-medium;
    @apply antialiased
  }
  h1 {
    @apply text-xl;
    /* @apply text-orange-700; */
    @apply font-bold tracking-widest text-sm;
  }
  h2 {
    @apply text-base;
  }
  body{
  @apply flex flex-row ;
  max-width: 80ch;
  @apply p-5 mx-auto mb-40 mt-20;

  } 

}