---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
// years of experience calculation
// const startDate = new Date(2018,1);
// const years = new Date(Date.now()-startDate).getUTCFullYear()-1970 ;
import * as content from '../content/pages/about.mdx';
// const { Content } = await render(content);
import Post from '../content/pages/about.mdx';

---

<BaseLayout pageTitle={content.frontmatter.title}>
<!-- <p>I am a Fx artist specialize in Fx simulation and procedural animation. </p> 
<p>I am located in Los Angeles with {years} years of experience working at studios including Disney Animation, ILM, Pixar, Dreamworks TV and The Mill.</p>
<p>I enjoys creating unique graphics and solving technical challenges with nodes and codes</p> -->
<Post />
</BaseLayout>
