---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Reel and Resume";
import {Vimeo} from 'astro-embed';
---
<BaseLayout pageTitle={pageTitle}>
<div>
  <!-- width="640" height="360" -->
<!-- <iframe class="w-96 h-full" title="vimeo-player" src="https://player.vimeo.com/video/795539975?h=6c91c99707"  frameborder="0"    allowfullscreen></iframe> -->
<Vimeo id ="https://vimeo.com/795539975" />
</div>
</BaseLayout>