---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Colophon";


---

<BaseLayout pageTitle={pageTitle}>
  <h1>Colophon</h1>
  <p> I build this website mostly for recording the more technical aspect of projects that can't be show in a reel</p>
  <p> Also for storing my notes and process when I work on project</p>
  <p> This site is built with Astro and styled with Tailwindcss. </p>
  <p>
  written in VSCode
  Design principles
  mnimal
  few info on screen as possible
  more space on the side
  
  icon
  plastic toy from houdini
  drew in Procreate on ipad pro
  

  </p>
  <p> server setup:</p>
  <p> </p>
  Design references:
</BaseLayout>