---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Benjamin Ming Hong Chan";
---
<BaseLayout pageTitle={pageTitle}>
<p>I am a Fx artist specialize in Fx simulation and procedural animation. </p> 
<p> I am located in Los Angeles with 6 years of experience working at studios including Disney Animation, ILM, Pixar, Dreamworks and The Mill.</p>
<p> I enjoys creating unique graphics and solving technical challenges</p>
</BaseLayout>