---

const {pageTitle}=Astro.props;
---
<style>
/* 
.menu {
  margin: 0;
  padding: 0;
  width: 100px;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
} 
*/
.menu{
  display:block;
}
</style>

<h1>Benjamin Chan</h1>
