---
const pathname =Astro.url.pathname;

---

<nav class ="flex flex-col">
  <!-- {[
    ['About', '/about'],
    ['Reel & Resume', '/resume'],
    ['Posts', '/posts'],
  ].map(([title, url]) => (
    <a href={url} class={pathname ==={title}?"":""}>{title}</a>
  ))} -->
  <!-- <a href="/">Home</a> -->
  <a href="/about" class={pathname ==="/about"?"underline":""}>About</a>
  <a href="/resume"class={pathname ==="/resume"?"underline":""}>Resume & Reel</a>
  <a href="/posts"class={pathname ==="/posts"?"underline":""}>Post</a>
</nav>

