---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-400 prose-p:text-justifyprose-img:rounded-xl
  prose-headings:underline 
  prose-code:text-xs sm:prose-code:text-base
  ">
  <slot />
</div>