---
const { headings } = Astro.props;
---

<aside>
 <div>
  <nav>
    <ul class="space-y-2">
      {headings.map((h) => (
        <li >
            {/* <div class={`ml-${(h.depth - 1) * 4}`}> */}
            <div class={
              h.depth === 1 ? "ml-0" :
              h.depth === 2 ? "ml-4" :
              h.depth === 3 ? "ml-8" :
              h.depth === 4 ? "ml-12" : "ml-0"
            }>
          <a href={`#${h.slug}`} class="hover:underline">
            {h.text}
          </a>
          </div>
        </li>
      ))}
      <li>
        <div class="text-center p-3 text-cyan-800">
          <a href ="#">
            <div> Top </div>
          </a>
        </div>
      </li>
    </ul>
    
  </nav>
  </div>
</aside>