---
import Header from '../components/Header.astro';
import Navigation from "../components/Navigation.astro";
import '@fontsource-variable/roboto-mono';

import '../styles/global.css';

const {pageTitle} = Astro.props;
---
<style>
  /* .content {
    display: inline-block;
    width: 400px;
  } */
</style>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="flex-col">
    <div class ="flex w-full">
    <Header pageTitle={pageTitle} />
    </div>
    <div class="flex">
      <aside class="basis-1/4">
        <Navigation />
      </aside>
      <div class="basis-3/4">
        <slot />
      </div>
    </div>
  </body>
</html>
