---
import Header from '../components/Header.astro';
import Navigation from "../components/Navigation.astro";
import Footer from '../components/Footer.astro';
import '@fontsource-variable/roboto-mono';

import '../styles/global.css';

const {pageTitle} = Astro.props;
---
<style>
  /* .content {
    display: inline-block;
    width: 400px;
  } */
</style>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="flex-col">
    
    <div class="flex">
      <aside class="basis-1/4">
        <Navigation />
      </aside>
      <div class="basis-3/4 flex-row gap-5">
        <div class="h-10">
          <h1 class="self-end text-lg">Benjamin Chan</h1>
        </div>
        <div class="mb-6"/>
        <div class=" leading-8 text-base font-light text-gray-50">
          <slot />
        </div>
        <div class="mb-8"/>
        <footer class="text-sm flex justify-between items-center">
          <Footer />
        </footer>
      </div>
    </div>
  </body>
</html>
